<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><!-- namespace: 强调映射的dao接口 --><mapper namespace="com.steven.springcloud.dao.PaymentDao">  <!--  id: 对应PaymentDao中的create方法  parameterType: 参数类型  useGeneratedKeys:  返回记录的id值  keyProperty: 主键  -->  <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">    insert into payment (serial) values (#{serial});  </insert>  <resultMap id="BaseResultMap" type="com.steven.springcloud.entities.Payment">    <!-- 实现字段的一一映射         property: java中字段名         column: 数据库字段     -->    <id column="id" property="id" javaType="BIGINT"/>    <id column="serial" property="id" javaType="VARCHAR"/>  </resultMap>  <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">    select *    from payment    where id = #{id};  </select></mapper>